:root {
    --number-color: #64646480;
    --math-operator-color: #ff8800;
    --background: #f1f1f1;
    --border-color: #ffffff40;
    --text-color: black;
}

* {
    transition: 0.1s;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    box-sizing: border-box;
    min-height: 100vh;
}

.calculator {
    background-color: transparent;
    filter: blur(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 10px 10px 10px;
    border-radius: 15px;
    border: 2px solid var(--border-color);
    box-shadow: 0 0 4px black;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin: 8px;
}

button {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    color: var(--text-color);
    transition: 0.1s;
}

button:hover {
    filter: brightness(110%);
}

.number-operator,
.delete-operator,
#clear {
    background-color: var(--number-color)
}

.module,
.equal-operator {
    background-color: var(--math-operator-color);
}

.input-div {
    display: flex;
    justify-content: center;
}

.expression-input {
    width: 211px;
    height: 28px;
    padding: 5px;
    margin: 8px 0 0 0;
    font-size: 24px;
    background-color: #ffffff70;
    border: 2px solid black;
    border-radius: 8px;
}

.expression-input:focus {
    outline: none;
}

.dark-mode-btn {
    position: fixed;
    top: 10px;
    right: 10px;
}

button.dark-mode-btn {
    width: 36px;
    height: 36px;
}